*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
libs/
src/main/res/drawable/
src/androidTest/
.idea/modules.xml
.idea/runConfigurations.xml
.idea/vcs.xml
app/src/androidTest/
app/src/main/res/drawable/
